<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <% include temps/header.ejs%>
  <body>
  <% if(username) { %>
    <p class="btn btn-primary"> Hi <strong><%=username%></strong></p>
  <% } %>
   <h1 class="well"> Welcome to <%=title%></h1>

  <p class="well well-sm">Search for your favourite shows</p>

   <form method ="POST" action="/" >
   <div class="input-group">
     <input type="text" name="query" class="form-control" placeholder="Search">
     <div class="input-group-btn">
       <button class="btn btn-default">
        <i class="glyphicon glyphicon-search"></i>
       </button>
     </div>
   </div>
   </form>
 

  
    <%for(let x in data) { %>
    <div class="container">
      <div class="jumbotron">
        <p><%=data[x].show.name%></p>
        <% if( typeof data[x].show.summary == "string") {%>
          <p><%=data[x].show.summary.replace(/(<([^>]+)>)/ig,"")%></p>
        <%}%>
        <%if(data[x].show.image ) {%>
            <p><img src=<%=data[x].show.image.medium%>></p>
        <% } %>
        <p><%data[x].show.id%></p>
        <br>
      </div>
    </div>
    <%}%>
  </body>
</html>
