<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% if(username) { %>
    <p> Hi <%=username%></p>
  <% } %>
   <h1> Welcome to <%=title%></h1>

  <p>Search for your favourite shows</p>

   <form method ="POST" action="/" >
     <input type="text" name="query">
     <button>Search</button>
   </form>

  <%for(let x in data) { %>
    <p><%=data[x].show.name%></p>
    <p><%=data[x].show.summary.replace(/(<([^>]+)>)/ig,"")%></p>
    <%if(data[x].show.image ) {%>
        <p><img src=<%=data[x].show.image.medium%>></p>
    <% } %>
  <%}%>
  </body>
</html>
